@media(max-width:940px){
    .graphDiv{
        overflow: scroll;
    }
    
    .stateItem img{
        max-width: 180px;
    }
    .page-content-wrapper{
        padding: 0px !important;
    }
}
.stateItem{
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    width: 60%
}
.itemDiv{
    text-align: -webkit-center;
}
#page-content-wrapper{
    padding: 0px !important;
}
.itemDiv{
    margin-top: 30px;
}
.graphDiv{
    margin-top: 30px;
}
.stateTitle{
    color: #FF7946;
    text-align: center;
}
.itemTitle{
    color: #5495FF;
    text-align: center;
}
/* .graph_chart{
    margin: auto;
} */
/* .bagItem{
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    width: 60%

}
.items{
    text-align: -webkit-center;
}
.bagItem img{
    max-width: 300px;
}
.centerOrderGo{
    text-align:  -webkit-center;
}
.sumPrice{
    display: inline;
}
.bagCheckBox{
    text-align: center;
}
@media(max-width:940px){
    .bagItem img{
        max-width: 180px;
    }
    
} */
