.img.img{
  width :100%;
}
.sc-bdVaJa.hYTNcn {
  padding: 0px !important;
}

.jVFVRr {

    margin  : auto !important;
    width : 100% !important;
    
}
.itemCard5{
    width : 20vmin !important;
    min-height: 280px ;


    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemCard5::before{
    display: inline-block;
    vertical-align: middle;

}

.exleBw{
    padding : 0px !important;
}

.card_div {
    display: inline-block !important;
    padding: 10px !important;
}
h2.sc-AxirZ.civJbW {
    padding-bottom: 10px;
}
.sc-bdVaJa.hYTNcn{
    padding : 0px !important;
}
.img{
    width:100%;
    height: 280px;
    object-fit: cover;
    object-position: top;
}

@media(max-width:500px){
    /* .sc-AxjAm.exleBw{
    width: 39vmax !important;
    } */

    .itemCard5{
        width: 30vmax !important;
        
        } 
    .chart{
        width:100% !important;
    }
    .hot{
        width: 8vmax;
    }
    
    
}




.MyModal {
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:10;
    
  }
  #tablebox{
    /* width: auto; 
    height: auto; 
    overflow: auto; */
    width: 1500px;
    height: 1000px; overflow: auto;
  } 
 
  .MyModal .content {
    background: white;
    padding: 1rem;
    width: 400px;
    height: auto;
    
  }
  .profile_preview{
    max-width: 200px;
    max-height : 200px;
  }

  .community_item{
      width: 100%;
      margin: auto;
      text-align: center;
}
.community_index_item{
  display: inline-block;
  width:200px;
  height: 100px;
  margin: 0px 14px;
}

  .modal{text-align: center}
  textarea{resize: none;}