<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},~{::script},'오디션 신청 게시글',_)}">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 사이드바 -->
    <!-- <script src="/js/side/userInfoSide.js"></script> -->

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/audition/readuser.js"></script>
</head>
<content>
    <body>
        <input type="hidden" id="auditionId" th:value="${audition.auditionid}">

        <center>
            <h1><td th:text="${audition.atitle}"></td></h1>
            <h3><td th:text="${#dates.format(audition.astartdate, 'yyyy-MM-dd')}"></td> ~ <td th:text="${#dates.format(audition.aenddate, 'yyyy-MM-dd')}"></td></h3>
            <hr style="border: solid 1px black;">
            

            
        </center>
       

        <span style="float:right;">
            <a href="" th:href="@{'/uploads/' + ${audition.afile}}"><h4>[[${audition.afile}]]</h4></a>		
        </span>
        <br><br>
        
        
            <center>
                
            

           
                
             <h4><td th:text="${audition.acontent}"></td></h4>   
            
        
            </center>
        
        
        <br><br>

        <!-- <th:block th:if="${auditionCon.auditionid} == '245'"> -->
        <div>
            
            <center>
                <input style="WIDTH: 100pt; HEIGHT: 40pt; font-size : 25px;" type="button" id="apply" value="신청서"/>  
            </center> 
        </div>
        <!-- </th:block> -->
        
        <br>
        <hr style="border: solid 1px black;">
        <button>
            <a href="" th:href="@{/audition/list}">게시글 목록</a>
        </button>

        <div style="float:right;">
            <form id="delete-form" th:action="@{'/audition/' + ${audition.auditionid}}" method="post">

            <button>
                <a href="" th:href="@{'/audition/update/' + ${audition.auditionid}}">수정</a> 
            </button>
           
                <input type="hidden" name="_method" value="delete"/> 
                <button id="delete-btn">삭제</button>
            </form>
            
            
        </div>

        
    
    </body>
</content>
</html>