<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},_,'오디션 결과 안내',_)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

</head>
<content>
<body>

            <center>
                <h1><td th:text="${auditionResult.rtitle}"></td></h1>
                

            

        <span style="float:right;">
            
        <a href="" th:href="@{'/uploads/' + ${auditionResult.rfile}}">
        [[${auditionResult.rfile}]]</a>

        </span><br><br>

        <br>



        <br>
        <span style="font-size:22pt"><td>최종합격</h2></td></span>
        <br><br><br>

                
        <p style="font-size:15pt"> 
        <tr th:each="auditionCon : ${auditionconlist}" >
            
            <td th:text="${auditionCon.fusername}"></td>
            <td><span>　　</span></td>
            <td th:text="${auditionCon.fusermail}"></td>
            <br>
            </tr>
        </p>

        </center>
            
        <br><br>
	
	
	<div>
<button>
		<a href="" th:href="@{/auditionresult/listuser}">게시글 목록</a></button>
	</div>
</body>
</content>
</html>