<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},_,'오디션 결과 안내',_)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

</head>	

    <body>
        
        <content>
            
       
        <center>
            <h1><td th:text="${auditionResult.rtitle}"></td></h1>
            <hr style="border: solid 1px black;">
    
        
    
    <span style="float:right;">
        
    <a href="" th:href="@{'/uploads/' + ${auditionResult.rfile}}">
    <h3>[[${auditionResult.rfile}]]</h3></a>
    
    
    </span><br><br>
    
    <br>
    
    
    
    <br>
    <span style="font-size:22pt"><td>최종합격</h2></td></span>
    <br>
    <hr width="40%" style="border: solid 1px red;">
    <br>
    
            
    <p style="font-size:15pt"> 
       <tr th:each="auditionCon : ${auditionconlist}" >
           
         <td th:text="${auditionCon.fusername}"></td>
         <td><span>　　</span></td>
          <td th:text="${auditionCon.fusermail}"></td>
        <br>
        </tr>
    </p>
    
    </center>
        
    <br>
    <hr style="border: solid 1px black;">
    <br>
        
    
        
	<button>
        <a href="" th:href="@{/auditionresult/list}">게시글 목록</a>
    </button>
    <div style="float:right;">
    

    <form id="delete-form" th:action="@{'/auditionresult/' + ${auditionResult.Resultid}}" method="post">
        <button>
            <a href="" th:href="@{'/auditionresult/update/' + ${auditionResult.Resultid}}">수정</a> 
        </button>
         <input type="hidden" name="_method" value="delete"/> 
         <button id="delete-btn">삭제</button>
       
    </form>

    </div>

</body>
</content>
</html>