
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{main_layout::layout(~{::content},_,'핫클립 관리',_)}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<content >
	<link rel="stylesheet" href="/css/hotcliblist.css"/>
	
	<!--  <div id="hotclib"></div>
    <script src="/assets/hotclib.js"></script> -->


  
	<div>
      <a href="" class="riro" 
      th:href="@{'/community/'+${programid}+'/hotclib/sorthviewcount'}">조회순</a>
      <a href="" class="riro"
      th:href="@{'/community/'+${programid}+'/hotclib/sorthdate'}">최신순</a>
      </div>
    
<section class="backim">
		<div class="gi" th:each="hotclib:${hotclibList}">
		<div>	<a href=""
				th:href="@{'/community/'+${hotclib.programid}+'/hotclib/read/' + ${hotclib.hotclibid}}">
				<img class="hi" width="300" height="300"
				th:src="@{'/uploads/' + ${hotclib.filename2}}">
</div>

      <div class="foncolor">
        <h3><span class="foncolor" th:utext="${hotclib.htitle}"></span>(<span
        style="color: red;" th:text="${hotclib.hreplycount}"></span>)</h3>
      </div>
      <div class="foncolor">
        <!-- <span class="qi" th:utext="${hotclib.hdate}"></span> -->
      등록일 : <span class="qi" th:text="${#dates.format(hotclib.hdate,'yyyy-MM-dd')}"></span>
      </div>
      <div class="foncolor">
      조회수 : <span class="qi" th:utext="${hotclib.hviewcount}"></span>
      </div>
      <div class="foncolor">
      작성자 : <span class="qi" th:utext="${hotclib.husername}"></span>	
      </div>
				
			</a>
         
			<!-- <a class="bye" style="vertical-align:middle" sec:authorize="hasAnyAuthority('2')" href="" th:href="@{'/community/'+${hotclib.programid}+'/hotclib/update/' + ${hotclib.hotclibid}}"><span>수정</span></a>
			<form style="display: inline;"  id="delete-form" th:action="@{'/community/'+${hotclib.programid}+'/hotclib/' + ${hotclib.hotclibid}}" method="post">
				<input type="hidden" name="_method" value="delete"/>
				<button class="hello" style="vertical-align:middle" sec:authorize="hasAnyAuthority('2')" id="delete-btn"><span>삭제</span></button>
			</form>
			 -->
    </div>
 	
    </section>
  </br>
  </br>
  </br>
    

        
<section>

    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>
    
    <form style="display: flow-root;" th:action="@{'/community/'+${programid}+'/hotclib/search'}"method="get">
      <input class="hull" name="keyword" type="text" placeholder="제목을 입력해주세요">
      <button class="btn btn-default">검색</button>
    </form>
   </section>

	        <!-- <nav style="text-align: center;">
    <ul class="pagination"
     th:with="start=${T(Math).floor(hotclibList./10)*10 + 1},
                    last=(${start + 9 < hotclibList.totalPages ? start + 9 : hotclibList.totalPages})" >
          <li>
            <a th:href="@{'/community/myhotclib(page=1)'}" aria-label="First">
                <span aria-hidden="true">First</span>
              </a>
          </li>

          <li th:class="${hotclibList.first} ? 'disabled'">
            <a th:href="${hotclibList.first} ? '#' :@{'/community/myhotclib(page=${hotclibList.number})'}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
          </li>       
            
          <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == hotclibList.number + 1} ? 'active'">
            <a th:text="${page}" th:href="@{'/community/myhotclib(page=${page})'}"></a>
          </li>

          <li th:class="${hotclibList.last} ? 'disabled'">
            <a th:href="${hotclibList.last} ? '#' : @{'/community/myhotclib(page=${hotclibList.number + 2})'}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
          </li>

          <li>
            <a th:href="@{'/community/myhotclib(page=${hotclibList.totalPages})'}" aria-label="Last">
              <span aria-hidden="true">Last</span>
            </a>
         </li>
       </ul>
     </nav>   -->
     </content>
</body>
</html>