
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{userInfo_layout::layout(~{::content},_,'핫클립 관리',_)}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<content >
	<link rel="stylesheet" href="/css/hotcliblist.css"/>
	
	<!--  <div id="hotclib"></div>
    <script src="/assets/hotclib.js"></script> -->


    <section class="backim">
	
      <a href="" class="riro" 
      th:href="@{'/community/myhotclib/sorthviewcount'}">조회순</a>
      <a href="" class="riro"
      th:href="@{'/community/myhotclib/sorthdate'}">최신순</a>
      <div>
        <a sec:authorize="hasAnyAuthority('2')" href="" class="upl"
          th:href="@{'/community/hotclib/upload'}">영상업로드</a>
      </div>
    
		
		

		<div class="gi" th:each="hotclib:${hotclibList}">
		<div>	<a href=""
				th:href="@{'/community/'+${hotclib.programid}+'/hotclib/read/' + ${hotclib.hotclibid}}">
				<img class="hi" width="300" height="300"
				th:src="@{'/uploads/' + ${hotclib.filename2}}">
</div>

				
				<div class="foncolor">
					 <h1><span class="foncolor" th:utext="${hotclib.htitle}"></span>(<span
						style="color: red;" th:text="${hotclib.hreplycount}"></span>)</h1>
				</div>
				<div class="foncolor">
					 <span class="qi" th:utext="${hotclib.hdate}"></span>
				</div>
				<div class="foncolor">
					조회수: <span class="qi" th:utext="${hotclib.hviewcount}"></span>
				</div>
				<div class="foncolor">
					작성자: <span class="qi" th:utext="${hotclib.husername}"></span>	
				</div>
				
			</a>
         
			<a class="bye" style="vertical-align:middle" sec:authorize="hasAnyAuthority('2')" href="" th:href="@{'/community/'+${hotclib.programid}+'/hotclib/update/' + ${hotclib.hotclibid}}"><span>수정</span></a>
			<form style="display: inline;"  id="delete-form" th:action="@{'/community/'+${hotclib.programid}+'/hotclib/' + ${hotclib.hotclibid}}" method="post">
				<input type="hidden" name="_method" value="delete"/>
				<button class="hello" style="vertical-align:middle" sec:authorize="hasAnyAuthority('2')" id="delete-btn"><span>삭제</span></button>
			</form>
    </div>
  </br>
  </br>
  </br>
    <form style="display: inline-block;" th:action="@{'/community/'+${programid}+'/hotclib/search'}"method="get">
      <input class="hull" name="keyword" type="text" placeholder="제목을 입력해주세요">
      <button class="btn btn-default">Search</button>
    </form>
    

    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#" class="active">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>

   
</section>
	      <!--  <nav style="text-align: center;">
    <ul class="pagination"
     th:with="start=${T(Math).floor(hotclibList.number/10)*10 + 1},
                    last=(${start + 9 < hotclibList.totalPages ? start + 9 : hotclibList.totalPages})" >
          <li>
            <a th:href="@{'/community/myhotclib(page=1)'}" aria-label="First">
                <span aria-hidden="true">First</span>
              </a>
          </li>

          <li th:class="${hotclibList.first} ? 'disabled'">
            <a th:href="${hotclibList.first} ? '#' :@{'/community/myhotclib(page=${hotclibList.number})'}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
          </li>       
            
          <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == hotclibList.number + 1} ? 'active'">
            <a th:text="${page}" th:href="@{'/community/myhotclib(page=${page})'}"></a>
          </li>

          <li th:class="${hotclibList.last} ? 'disabled'">
            <a th:href="${hotclibList.last} ? '#' : @{'/community/myhotclib(page=${hotclibList.number + 2})'}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
          </li>

          <li>
            <a th:href="@{'/community/myhotclib(page=${hotclibList.totalPages})'}" aria-label="Last">
              <span aria-hidden="true">Last</span>
            </a>
         </li>
       </ul>
     </nav> -->
     </content>
</body>
</html>