
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{main_layout::layout(~{::content},_,'주간 핫클립',_)}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<content>
	<style>
.gi {
	border: 1px solid #ccc;
	padding: 5px;
	width: 250px;
	height: 250px;
	margin: 10px;
	display: inline-block;
	text-align: left;
}
.hi{

}
</style>
	<!--  <div id="hotclib"></div>
    <script src="/assets/hotclib.js"></script> -->


	<section>
	
	<a href="" class="btn btn-lg btn-primary"
				th:href="@{'/community/'+${programid}+'/hotclib/sorthviewcount'}">조회순</a>
			<a href="" class="btn btn-lg btn-primary"
				th:href="@{'/community/'+${programid}+'/hotclib/sorthdate'}">최신순</a>
		
		<form
			th:action="@{'/community/'+${programid}+'/hotclib/search'}"
			method="get">
			<div class="search">
				<input name="keyword" type="text" placeholder="제목을 입력해주세요">
				<button>검색</button>
			</div>
		</form>

		<div class="gi" th:each="hotclib:${hotclibList}">
			<a href=""
				th:href="@{'/community/'+${hotclib.programid}+'/hotclib/read/' + ${hotclib.hotclibid}}">
				<img class="hi" width="250" height="250"
				th:src="@{'/uploads/' + ${hotclib.filename2}}">


				<div>
					게시물번호: <span th:utext="${hotclib.hotclibid}"></span>
				</div>
				<div>
					제목: <span th:utext="${hotclib.htitle}"> (<span
						style="color: red;" th:text="${hotclib.hreplycount}"></span>)
				</div>
				<div>
					작성일: <span th:utext="${hotclib.hdate}"></span>
				</div>
				<div>
					조회수: <span th:utext="${hotclib.hviewcount}"></span>
				</div>
				<div>
					작성자: <span th:utext="${hotclib.husername}"></span>
				</div>
			</a>
		</div>
		
		<!-- <div>
			<a sec:authorize="hasAnyAuthority('2')" href="" class="btn btn-lg btn-primary"
				th:href="@{'/community/'+${programid}+'/hotclib/upload'}">영상업로드</a>
		</div> -->
	</section>


	   <!-- <nav style="text-align: center;">
    <ul class="pagination"
     th:with="start=${T(Math).floor(hotclibList.number/10)*10 + 1},
                    last=(${start + 9 < hotclibList.totalPages ? start + 9 : hotclibList.totalPages})" >
          <li>
            <a th:href="@{'/community/'+${programid}+'/hotclib(page=1)'}" aria-label="First">
                <span aria-hidden="true">First</span>
              </a>
          </li>

          <li th:class="${hotclibList.first} ? 'disabled'">
            <a th:href="${hotclibList.first} ? '#' :@{'/community/'+${programid}+'/hotclib(page=${hotclibList.number})'}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
          </li>       
            
          <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == hotclibList.number + 1} ? 'active'">
            <a th:text="${page}" th:href="@{'/community/'+${programid}+'/hotclib(page=${page})'}"></a>
          </li>

          <li th:class="${hotclibList.last} ? 'disabled'">
            <a th:href="${hotclibList.last} ? '#' : @{'/community/'+${programid}+'/hotclib(page=${hotclibList.number + 2})'}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
          </li>

          <li>
            <a th:href="@{'/community/'+${programid}+'/hotclib(page=${hotclibList.totalPages})'}" aria-label="Last">
              <span aria-hidden="true">Last</span>
            </a>
         </li>
       </ul>
     </nav> -->
     </content>
    
</body>
</html>