<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/extras/spring-security"
th:replace="~{main_layout::layout(~{::content},_,'게시글조회',_)}">
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<content>
	<!-- <div id="hotclibread"></div>
    <script src="/assets/hotclibread.js"></script> --> 
	 <link rel="stylesheet" href="/css/hotclibread.css"/>

	
	<h1> <strong><div th:utext="${hotclib.htitle}"></div></h1></strong>
		<tr>		
		<video class="video1" controls th:src="@{'/uploads/' + ${rfile.filename}}" width="1200" height="400"></video>
			
		
		<section class="backim">
		<div class="gi">		
	
		
			<div class="rcontent">내용: <span th:utext="${hotclib.h_content}"></span></div>
	
		
				<div>조회수: <span th:utext="${hotclib.hviewcount}"></span></div>
			
			<div>작성자: <span th:utext="${hotclib.husername}"></span></div>
		</div>
	
	 <!--  <div  th:each="hotclib:${hotclibList}">
			<a href=""
				th:href="@{'/community/'+${hotclib.programid}+'/hotclib/read/' + ${hotclib.hotclibid}}">
				<img class="hi" width="150" height="150"
				th:src="@{'/uploads/' + ${hotclib.filename2}}">
				
					제목: <span th:utext="${hotclib.htitle}"> 
					작성자
						
					
			</a>
		</div> --> 
	
	
		<div>
			<a class="koko" href="" th:href="@{'/community/'+${hotclib.programid}+'/hotclib'}">목록</a><br>
		</div>
			
		<!-- 	<span><a sec:authorize="hasAnyAuthority('2')" href="" th:href="@{'/community/'+${hotclib.programid}+'/hotclib/update/' + ${hotclib.hotclibid}}">수정</a></span>
			
			<form id="delete-form" th:action="@{'/community/'+${hotclib.programid}+'/hotclib/' + ${hotclib.hotclibid}}" method="post">
				<input type="hidden" name="_method" value="delete"/>
				<button sec:authorize="hasAnyAuthority('2')" id="delete-btn">삭제</button>
			</form>
			 -->
		
			 <form id="replyList" method="post" th:action="@{'/community/'+${hotclib.programid}+'/hotclib/read/' + ${hotclib.hotclibid}}">
				<tr>
				<td><input class="hull" style="width:200px"type="textarea" placeholder="댓글을 입력하세요" name="r_content"></td>
					<input class="riro" type="submit" value="등록" >
			</tr>
			</form>  
		    
		
	


	<div class="reply" th:each="reply:${replyList}" varStatus="vs" >
		
			
			<div>
				
			    <div><strong>작성자</strong> : <strong th:text="${reply.rusername}"></strong></div>	
				<div>내용 : <span th:text="${reply.r_content}"></span></div>
				<div>작성일자 : <span th:text="${reply.r_date}"></span></div>	
			</div>
					<div id="sd">
						<form id="replydelete-form"  method="post" th:action="@{'/community/'+${hotclib.programid} +'/hotclib/read/' + ${hotclib.hotclibid}+'/' + ${reply.replyid}}">						
							<ul id="sad">
							<li><input type="hidden" name="_method" value="replydelete"/></li>
							<li><button class="ruro" id="replydelete">댓글삭제</button></li>
							<li><div class="root" ${vs.index}>
								<button style="display:inline"class="roro" type="button" data-rno="${replyList.replyid}"  id="1btn"><span>댓글수정</span></button>
								
								</div></li>
						</ul>
						</form>
						
					
					
					</div>
						<div class="modal">
							<form  method="POST" th:action="@{'/community/'+${hotclib.programid}+'/hotclib/replyupdate/' + ${hotclib.hotclibid}+'/' + ${reply.replyid}}">		
							<div class="modal_content">									
								<h5>댓글수정 하세요</h5>
								<input class="hull" type="textarea" placeholder="내용을 입력하세요" name="r_content">
								<input class="riro"type="submit" value="등록" >
								<button class="riro" type="button" id="2btn">닫기</button>
							</div>
							</form>
							
						</div>
						
						
					
				</div>
			</section>
<script>
	
	//$("#1btn").click(function(){
 //       $("#modal[vs.index]").fadeIn(500);
  //  });
   
 //    $("#2btn").click(function(){
 //       $("#modal[vs.index]").fadeOut(500);
 //   });      
	 
     $(".roro").click(function(){
         $(".modal").attr("style", "display:block");
     });
    
      $(".riro").click(function(){
         $(".modal").attr("style", "display:none");
     });   
         
</script>
 
<style>
.modal_content{

z-index:1;
}
</style>
</content>
</body>
</html>







