<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/extras/spring-security"
th:replace="~{main_layout::layout(~{::content},_,'게시글조회',_)}">
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<content>
	<!-- <div id="hotclibread"></div>
    <script src="/assets/hotclibread.js"></script> --> 
	 <link rel="stylesheet" href="/css/hotclibread.css"/>
<body>
	<h1> <span th:utext="${hotclib.htitle}"></span></h1>
		<tr>		
		<video class="video1" controls th:src="@{'/uploads/' + ${rfile.filename}}" width="800" height="500"></video>
			
		</tr>
	
		<div class="gi">		
	<tr> 
		
	</tr>
		<tr>
			<li class="rcontent">내용: <span th:utext="${hotclib.h_content}"></span></li>
		</tr>
			<tr>
				<li>조회수: <span th:utext="${hotclib.hviewcount}"></span></li>
			</tr>
			<li>작성자: <span th:utext="${hotclib.husername}"></span></li>
		</div>
	
	 <!--  <div  th:each="hotclib:${hotclibList}">
			<a href=""
				th:href="@{'/community/'+${hotclib.programid}+'/hotclib/read/' + ${hotclib.hotclibid}}">
				<img class="hi" width="150" height="150"
				th:src="@{'/uploads/' + ${hotclib.filename2}}">
				
					제목: <span th:utext="${hotclib.htitle}"> 
					작성자
						
					
			</a>
		</div> --> 
	
	
		<div>
			<a class="btn btn-lg btn-primary" href="" th:href="@{'/community/'+${hotclib.programid}+'/hotclib'}">목록</a><br>
		</div>
			
		<!-- 	<span><a sec:authorize="hasAnyAuthority('2')" href="" th:href="@{'/community/'+${hotclib.programid}+'/hotclib/update/' + ${hotclib.hotclibid}}">수정</a></span>
			
			<form id="delete-form" th:action="@{'/community/'+${hotclib.programid}+'/hotclib/' + ${hotclib.hotclibid}}" method="post">
				<input type="hidden" name="_method" value="delete"/>
				<button sec:authorize="hasAnyAuthority('2')" id="delete-btn">삭제</button>
			</form>
			 -->
		
			 <form id="replyList" method="post" th:action="@{'/community/'+${hotclib.programid}+'/hotclib/read/' + ${hotclib.hotclibid}}">
				<tr>댓글 
				<td><input type="textarea" placeholder="내용을 입력하세요" name="r_content"></td>
					<input type="submit" value="등록" ><hr>
			</tr>
			</form>  
		    
		
	


	<tr th:each="reply:${replyList}" varStatus="vs">
		
			<p>
			 
			    <li>작성자 : <td th:text="${reply.rusername}"></span></li>
				<li>작성일자 : <td th:text="${reply.r_date}"></td></li>
				<li>내용 : <td th:text="${reply.r_content}"></td></li>
					<div>
						<form id="replydelete-form"  method="post" th:action="@{'/community/'+${hotclib.programid} +'/hotclib/read/' + ${hotclib.hotclibid}+'/' + ${reply.replyid}}">						
							<input type="hidden" name="_method" value="replydelete"/>
							<button id="replydelete">댓글삭제</button>
						</form>
					<div id="root"${vs.index}>
						<button type="button" data-rno="${replyList.replyid}"  id="1btn">댓글수정</button> 
						</div>
						<div id="modal" ${vs.index}>
							<form id="replyupdate-form"  method="POST" th:action="@{'/community/'+${hotclib.programid}+'/hotclib/replyupdate/' + ${hotclib.hotclibid}+'/' + ${reply.replyid}}">		
							<div class="modal_content">									
								<h5>댓글수정하는곳</h5>
								<input type="textarea" placeholder="내용을 입력하세요" name="r_content">
								<input type="submit" value="등록" >
								<button type="button" id="2btn">닫기</button>
							</div>
							</form>
							
						</div>
						</div>
						
						<hr>
					</p>
				</tr>
				
<script>
	
	//$("#1btn").click(function(){
 //       $("#modal[vs.index]").fadeIn(500);
  //  });
   
 //    $("#2btn").click(function(){
 //       $("#modal[vs.index]").fadeOut(500);
 //   });      
     
     $("#1btn").click(function(){
         $("#modal").attr("style", "display:block");
     });
    
      $("#2btn").click(function(){
         $("#modal").attr("style", "display:none");
     });   
         
</script>
 
<style>
.modal_content{

z-index:1;
}
</style>
</content>
</body>
</html>







