<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},~{::script},'나의 오디션 신청',_)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 사이드바 -->
    
</head>
<body>
<div>
<script>
</script>
</div>
    <content>
		
  			<div id="myAudition"></div>
     		<script src="/assets/myAudition.js"></script>
            <script src="/js/side/userInfoSide.js"></script>
    </content>

</body>
</html>