<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{userInfo_layout::layout(~{::content},_,'주문 추이',_)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 사이드바 -->
    
</head>
<body>
<div>
<script>
</script>
</div>
    <content>
        <style>
            .row{
                margin: 0px;
            }
            .page-content-wrapper{
                padding-left: 250px !important;
            }
            @media(max-width: 950px) {
                .page-content-wrapper{
                    padding-left: 0px !important;
                }
            }
                
        </style>
		
  			<div id="manageOrderState"></div>
     		<script src="/assets/manageOrderState.js"></script>
    </content>

</body>
</html>