.imgDiv{
    max-width: 150px !important;
    overflow: hidden !important;
    height: 150px !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prdImgTag{
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

.productinfo {
    text-align: -webkit-center;
}

@media(max-width:991px){
    .imgDiv{
        max-width: 150px !important;
        height: 100px !important;
    }
    

}


@media(max-width:767px){
    .imgDiv{
        max-width: 300px !important;
        height: 300px !important;
    }
    .imgDiv img {
        width: 300px;
    }
    .productName{
        font-size: 20px;
    }
    .product_Top_div{
        border: 1px solid #F7F7F5;
        display: inline-block;
    }
    .product-image-wrapper{
        border: none !important;
    }

}