.pagenation{
    /* place-content: center; */
    display: table;
}
.search{
    margin-bottom: 20px;
    text-align: -webkit-center;
}
.searchBox{
    /* float: right; */
}
.searchButton{
    background: #FE980F;
    border: 1px solid #F5A9A9;
    color: white;
    padding: 4px;
    border-radius: 9px;
}
@media(max-width:767px){
    .pagenation{
        place-content: center;
    }
    .search{
        text-align-last: center;
    }
    .searchBox{
        float: none;
    }
}
ul.MuiPagination-ul{
margin:auto;
}
