<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{main_layout::layout(~{::content},_,'글 수정', ~{::link})}" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/boardstyle.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/board.common.css">
    <link rel="stylesheet" href="/css/featherlight.css">
    <link rel="stylesheet" href="/css/mobile.css">
</head>

<body>
    <content>
    <div id="container">
        <!-- skin : theme/webzine -->
        <section id="bo_w">
            <h2 class="sound_only">웹진형게시판 글쓰기</h2>

            <!-- 게시물 작성/수정 시작 { -->
            <form name="fwrite" id="fwrite" th:action="@{/audience/update}" method="post" enctype="multipart/form-data"
                autocomplete="off" style="width:100%">


                <div class="write_div">
                    <label for="wr_homepage" class="sound_only">제목</label>
                    <input required type="text" name="aTitle" value="" id="wr_homepage" class="frm_input full_input" size="50"
                        placeholder="제목" th:placeholder=${audience.aTitle}>
                </div>

                <div class="bo_w_info write_div">
                    <label for="wr_homepage" class="sound_only">응모시작시간</label>
                    <input required type="date" name="aStartdate" value="" id="wr_homepage" class="frm_input full_input" size="50"
                        placeholder="">

                    <label for="wr_homepage" class="sound_only">응모마감시간</label>
                    <input required type="date" name="aEnddate" value="" id="wr_homepage" class="frm_input full_input" size="50"
                        placeholder="">
                </div>


                <div class="write_div">
                    <label for="wr_homepage" class="sound_only">추첨인원</label>
                    <input required type="text" name="aRecruits" value="" id="wr_homepage" class="frm_input full_input" size="50"
                        placeholder="추첨인원" th:placeholder=${audience.aRecruits}>
                </div>

                <div class="write_div">
                    <label for="wr_homepage" class="sound_only">응모제한횟수</label>
                    <input required type="text" name="aLimit" value="" id="wr_homepage" class="frm_input full_input" size="50"
                        placeholder="응모제한횟수" th:placeholder=${audience.aLimit}>
                </div>

                <div class="write_div">
                    <label for="wr_homepage" class="sound_only">응모시 소모포인트</label>
                    <input required type="text" name="aPrice" value="" id="wr_homepage" class="frm_input full_input" size="50"
                        placeholder="응모시 소모포인트" th:placeholder=${audience.aPrice}>
                </div>

                <div class="write_div">
                    <label for="wr_homepage" class="sound_only">내용</label>
                    <input required type="text" name="aContent" value="" id="wr_homepage" class="frm_input full_input"
                        style="height: 300px;" size="50" placeholder="내용" th:value=${audience.aContent}>
                </div>
                <input style="visibility: hidden;" name="applyId" th:value=${audience.applyId}>


                <div class="bo_w_info"><b>썸네일이미지</b> </div>
        
                 <div class="bo_w_flie write_div">
                    <div class="file_wr write_div">
                        <label for="bf_file_1" class="lb_icon"><i class="fa fa-download" aria-hidden="true"></i><span
                                class="sound_only"> 파일 #1</span></label>
                        <input required type="file" name="filename" id="bf_file_1" title="파일첨부 1 : 용량 1,048,576 바이트 이하만 업로드 가능"
                            class="frm_file ">
                    </div>
                </div> 

            

                <div class="btn_confirm write_div">
                    <a href="/audience/mlist" class="btn_cancel btn">취소</a>
                    <input type="submit" value="작성완료" id="btn_submit" accesskey="s" class="btn_submit btn">
                </div>
            </form>

         
        </section>
        <!-- } 게시물 작성/수정 끝 -->

    </div>

</content>
</body>

</html>