<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{main_layout::layout(~{::content},~{::script},'게시글', ~{::link})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/boardstyle.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/board.common.css">
    <link rel="stylesheet" href="/css/featherlight.css">
    <link rel="stylesheet" href="/shop/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/js/uRead.js"></script>
</head>

<body>
    <content>
        <div id="container">

            <script src="http://sample.paged.kr/purewhite/js/viewimageresize.js"></script>

            <!-- 게시물 읽기 시작  -->
            <article id="bo_v" style="width:100%">
                <h2 id="bo_v_title">
                    <span class="bo_v_tit" th:text="${audience.aTitle}">컨텐츠제목</span>
                </h2>
                <section id="bo_v_info">
                    <h2>페이지 정보</h2>
                    <span class="sound_only">작성자</span>
                    <strong>
                        <span class="sv_member" th:text="${audience.rId}">웹사이팅</span>
                    </strong>
                    <span class="sound_only">댓글</span>
                    <strong>
                        <a href="#bo_vc"><i class="fa fa-commenting-o" aria-hidden="true"></i> 0건</a>
                    </strong>
                    <span class="sound_only">조회</span><strong th:text="${audience.aViewCount}"><i class="fa fa-eye"
                            aria-hidden="true"></i> 393회</strong>
                    <strong class="if_date" th:text="${#dates.format(audience.aDate, 'yyyy-MM-dd HH:mm')}"><span class="sound_only">작성일</span><i
                        class="fa fa-clock-o" aria-hidden="true"></i> 18-02-07 09:23</strong>
                </section>

            <section id="bo_v_atc">
                <h2 id="bo_v_atc_title">본문</h2>


                <div id="bo_v_img">
                    <img src="#" th:src="@{'/uploads/' + ${audience.img}}" alt="">
                </div>

                <!-- 본문 내용 시작 { -->
                    
                <label>응모기간&nbsp;&nbsp;</label><span
                th:text="${#dates.format(audience.aStartdate, 'yyyy-MM-dd HH:mm') + ' ~ ' + #dates.format(audience.aEnddate, 'yyyy-MM-dd HH:mm')}"></span><br>
                <label>추첨인원&nbsp;&nbsp;</label><span th:text="@{${audience.aRecruits} + '  명  '}"></span><br>
                <label>응모제한&nbsp;&nbsp;</label><span th:text="@{${audience.aLimit} + '  회  '}"></span><br>
                <label>응모시 소모 포인트&nbsp;&nbsp;</label><span th:text="@{${audience.aPrice} + ' p  '}"></span><br>
                <label>세부내용&nbsp;&nbsp;</label><br>
                <div id="bo_v_con">
                    <p th:text="${audience.aContent}"></p>
                </div>
                <!-- } 본문 내용 끝 -->
                <!-- 타이머 시작 -->
                <div class="timer">
                    <h1 id="timer__title">응모종료까지 남은 시간</h1>
                    <div id="timer__ul">
                        <div><span id="days" class="days"></span><div class="smalltext">Days</div></div>
                        <div><span id="hours"class="hours"></span><div class="smalltext">Hours</div></div>
                        <div><span id="minutes"class="minutes"></span><div class="smalltext">Minutes</div></div>
                        <div><span id="seconds"class="seconds"></span><div class="smalltext">Seconds</div></div>
                    </div>
                  </div>
                  
                  <!-- 타이머 끝 -->
                <form style="text-align: -webkit-center">
                    <!-- <input type="hidden" id="applyId" name="applyId" value="" th:value="${audience.applyId}"> -->
                    <input type="hidden" id="aLimit" name="aLimit" value="" th:value="${audience.aLimit}">
                    <input type="hidden" id="aPrice" name="aPrice" value="webzine" th:value="${audience.aPrice}">
                    <input type="hidden" id="aEnddate" name="aEnddate" th:value="${audience.aEnddate}">
                    <input type="hidden" id="aStartdate" name="aStartdate" th:value="${audience.aStartdate}">
                    <input type="hidden" id="result" name="result" th:value="${audience.result}">
                    <input type="hidden" name="stx" value="">
                    <input type="hidden" name="spt" value="">
                    <input type="hidden" name="sst" value="">
                    <input type="hidden" name="sod" value="">
                    <input type="hidden" name="page" value="">
                    <input type="hidden" value="html1" name="html">
                    <input type="button" disabled value="응모하기" id="apply" class="btn_submit btn">
                    <input type="button" disabled value="당첨확인" id="confirm" class="btn_submit btn">
                </form>
                <div id="modal-container">
                    <div class="modal-background">
                        <div class="modal">
                            <img class="modal__img" src="/uploads/축하.gif" alt="HTML5 Icon" width="128" height="128">
                            <p class="modal__message">축하드립니다. </p>
                        </div>
                    </div>
                </div>
               
            </section>

            <div id="bo_v_share">

                <!--  추천 비추천 시작 { -->
                <!-- }  추천 비추천 끝 -->

            </div>




            <!-- 게시물 상단 버튼 시작 { -->
            <div id="bo_v_top">

                <ul class="bo_v_left">
                </ul>

                <ul class="bo_v_com">

                    <li><a href="/audience/list" class="btn_b01 btn"><i class="fa fa-list"
                                aria-hidden="true"></i> 목록</a></li>
                </ul>
            </div>

    </div>
</content>
</body>

</html>