<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},~{::script},'개발자 소개',~{::link})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/6fd62b4121.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/developerIntroduction.css">
</head>
<body>
    <content>
    <section class="card__list" style="text-align: center;">
    <div class="avatar__card">
        <img src="/uploads/실루엣1.png" alt="developerIntroduction" class="home__avatar">
        <div class="name"><h3>이경준</h3></div>
        <div class="role"><h5>실시간 채팅 서비스, 방청권 추첨 서비스</h5></div>
        <div class="language"></div>
        <div class="links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fas fa-envelope-open-text"></i></a>
            <a href="#"><i class="fas fa-blog"></i></a>
        </div>
    </div>
    <div class="avatar__card">
        <img src="/uploads/실루엣2.png" alt="developerIntroduction" class="home__avatar">
        <div class="name"><h3>이경준</h3></div>
        <div class="role"><h5>실시간 채팅 서비스, 방청권 추첨 서비스</h5></div>
        <div class="language"></div>
        <div class="links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fas fa-envelope-open-text"></i></a>
            <a href="#"><i class="fas fa-blog"></i></a>
        </div>
    </div>
    <div class="avatar__card">
        <img src="/uploads/실루엣3.png" alt="developerIntroduction" class="home__avatar">
        <div class="name"><h3>이경준</h3></div>
        <div class="role"><h5>실시간 채팅 서비스, 방청권 추첨 서비스</h5></div>
        <div class="language"></div>
        <div class="links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fas fa-envelope-open-text"></i></a>
            <a href="#"><i class="fas fa-blog"></i></a>
        </div>
    </div>
    <div class="avatar__card">
        <img src="/uploads/실루엣4.png" alt="developerIntroduction" class="home__avatar">
        <div class="name"><h3>이경준</h3></div>
        <div class="role"><h5>실시간 채팅 서비스, 방청권 추첨 서비스</h5></div>
        <div class="language"></div>
        <div class="links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fas fa-envelope-open-text"></i></a>
            <a href="#"><i class="fas fa-blog"></i></a>
        </div>
    </div>
    <div class="avatar__card">
        <img src="/uploads/실루엣5.png" alt="developerIntroduction" class="home__avatar">
        <div class="name"><h3>이경준</h3></div>
        <div class="role"><h5>실시간 채팅 서비스, 방청권 추첨 서비스</h5></div>
        <div class="language"></div>
        <div class="links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fas fa-envelope-open-text"></i></a>
            <a href="#"><i class="fas fa-blog"></i></a>
        </div>
    </div>
   
</section>    
</content>
</body>
</html>