<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{userInfo_layout::layout(~{::content},_,'예선심사',_)}">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 사이드바 -->
    <!-- <script src="/js/side/userInfoSide.js"></script> -->
</head>
  
<body>


    <content>
		<link rel="stylesheet" href="/css/auditioncss.css" />
		<link rel="stylesheet" href="/css/item/item.css" />
		
		<div>
		<th:block th:each="auditionCon : ${auditionconlist}">		
		<div class="card">
		<a href="" th:href="@{'/audition_con/read/' + ${auditionCon.formid}}">
		 <div class="cardGridDiv event">
	            <div class="cardImgDiv">
	                <img class="cardImg" th:src="@{'/uploads/'+${auditionCon.fprofile}}" />
	            </div>
	    	    <div class="ssss">
	       	        <div><span th:text="${auditionCon.username}"></span></div>
	           	    <!-- <div><span th:text="${auditionCon.ftitle}" ></span></div> -->
	               	<div><span th:text="${#dates.format(auditionCon.fdate, 'yyyy-MM-dd')}"></span></div>
	               	<div><span th:text="${auditionCon.confirm}"></span></div>
		     	</div>
	      </div>
	      </a>
		 </div>
		 </th:block>
		 </div>
		 <br><br>
        <center>
        <ul th:fragment="pagination" class="pagination">
            <li>
                <a th:href="@{/audition_con/list(page=1)}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            <li>
                <a th:href="@{/audition_con/list(page=1)}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li>
                <a th:href="@{/audition_con/list(page=1)}">
                    <span aria-hidden="true">1</span>
                </a>
            </li>
            <li>
                <a th:href="@{/audition_con/list(page=2)}">
                    <span aria-hidden="true">2</span>
                </a>
            </li>
            
                
            <li>
                    <a th:href="@{/audition_con/list(page=2)}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
            </li>
            <li>
                <a th:href="@{/audition_con/list(page=2)}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
            
            </ul>
                </center>
    
		<td>
			<input type="button" value="처음으로" onclick="location.href='/audition_con/list'"/>
								  </td>
				<form action="/audition_con/serch" method="GET">
		    <div><center>
		    <select name="sim">
   			 <option value="">심사결과</option>
   	 	   
			</select>
		       
		        <input name="합격" type="text" placeholder="심사결과를 입력해주세요">
		        <button>검색하기</button></center>
		        
		    </div>
		
		 
		</form>
		
		<!-- <nav style=text-align:center; >

			<ul class="pagination"
				th:with="start = ${T(Math).floor(auditionconlist.number/10)*10 + 1},
				last = (${start + 9 < auditionconlist.totalPages ? start + 9 : auditionconlist.totalPages})">				
				<li><a th:href="@{/audition_con/list(page=1)}" aria-label="First">
						<span aria-hidden="true">First</span>
					</a>
				</li>
		
				<li th:class="${auditionconlist.first} ? 'disabled'">
					<a th:href="${auditionconlist.first} ? '#' :@{/audition_con/list(page=${auditionconlist.number})}" aria-label="Previous">
						<span aria-hidden="true">&lt;</span>
					</a>
				</li>
		
				<li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == auditionconlist.number + 1} ? 'active'">
					<a th:text="${page}" th:href="@{/audition_con/list(page=${page})}"></a>
				</li>
		
				<li th:class="${auditionconlist.last} ? 'disabled'">
					<a th:href="${auditionconlist.last} ? '#' : @{/audition_con/list(page=${auditionconlist.number + 2})}" aria-label="Next">
						<span aria-hidden="true">&gt;</span>
					</a>
				</li>
		
				<li>
					<a th:href="@{/audition_con/list(page=${auditionconlist.totalPages})}" aria-label="Last">
						<span aria-hidden="true">Last</span>
					</a>
				</li>
			</ul>
			
		</nav> -->
			

       </content>

</body>
</html>