.card_div{
    display: inline-block;
    width: auto;
    /* float: left;  */
    margin-left: 50px;
}
body{
    font-family:none;
}
.timeBox{
    padding: 7px;
    background-color: rgba(221, 44, 192, 1);
    color: white;
    border-radius: 5px;
}
.timeTopDiv{
    text-align: center;
    font-size: 2.5vmax;
}